body {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button {
    background: red;
    padding: 15px 60px;
    color: white;
    margin: 20px 50px;
    font-size: 18px;
    border-radius: 10px;
    border: 0;
    transition: 0.5s;
    cursor: pointer;
}
button:hover {
    background: #6ab04c;
}
.png {
    height: 80vh;
    width: 80%;
    border-radius: 10px;
}
.down {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
    margin-top: 20px;
}
#ludo {
    height: 80px;
    width: 80px;
    border-radius: 20%;
}